
.post {
    text-align:center;
    max-width: 600px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    margin: 0 auto; 
} 

#post-container {
    padding: 20px;
}

.author {
    padding: 10px; 
    border-bottom : 2px solid black; 
}

.content {
    position: relative;
    padding-bottom: 10px; 
    border-bottom: 2px solid black;
    bottom: 20px;
}

.like {
    position: relative;
    bottom: 35px;
    right: 50px;
} 

#votes {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    position: relative;
    bottom: 44px;
    right: 40px;
}

#time {
    text-align:center;
    display: inline-block;
    font-size: 12px;
    position: relative;
    bottom: 50px;
    left: 100px;
}

.comment-section {
    position: relative;
    bottom: 50px;
}

#comment-user {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    padding-right: 5px;
}

#comment-text {
    display: inline-block;
    font-size: 12px;
}

textarea {
    width: 300px;
    outline: none;
    height: 30px;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    border: solid 3px #98d4f3;
    box-sizing: border-box; 
}

div[contenteditable] {
    overflow: auto;
    max-height: 500px;
}

/*



h1, h5 {
    text-align: center;
}

h6 {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 0px 0px 10px 0px;
}
 */

